transformers~=4.35.0
torch~=2.1.0
nltk~=3.8.1
fastapi~=0.104.1
pydantic~=2.4.2
beautifulsoup4~=4.12.2
numpy~=1.24.1
SQLAlchemy~=2.0.23
uvicorn~=0.24.0
lxml~=4.9.3
kshingle~=0.10.0
datasketch~=1.6.4
xxhash~=3.4.1
spacy
perscache
conllu
bleach
spacy-udpipe